/* source: https://www.w3schools.com/howto/howto_js_todolist.asp  (modified by netprogs.pl for the course purposes) */
/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Indie+Flower&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Indie+Flower&family=Roboto+Mono:wght@100&display=swap');


body {
    margin: 0;
    min-width: 290px;
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 10px;
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: #41403E;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background:#D3D3D3;
    font-size: 18px;
    transition: 0.2s;
    font-family: 'Indie Flower', cursive;
    width: 90%;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  /* ul li:nth-child(odd) {
    background: #fcf2cb;
  } */
  
  /* Darker background-color on hover */
  ul li:hover {
    background: red;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: red;
    color: #41403E;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: "";
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: red;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: white;
    padding: 30px 40px;
    color: red;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    /* border: none; */
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    border-radius: 50px;
    font-family: 'Indie Flower', cursive;
  }
  
  /* Style the "Add" button */
  /* .addBtn {
    padding: 8px;
    width: 25%;
    background: #bbb;
    color: #1e4363;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    font-weight: bold;
  }
  
  .addBtn:hover {
    background-color: #ffb00d;
  } */

  .addBtn {
    align-self:center;
    background:transparent;
    padding:1rem 1rem;
    margin:-15px;
    transition:all .5s ease;
    color:#41403E;
    font-size:22px;
    font-family: 'Indie Flower', cursive;
    border:dashed 5px #41403E;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    /*
    Above is shorthand for:
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    */
  }
  
  
  .addBtn:hover {
    /* background-color: #ffb00d; */
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);

  }
    
  
  /* .task-list-item {
      display: block;
  } */
  
  h2.text-style{
    color: red;
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    padding: 22px;
  }

  .single-item{
    margin: 17px;
    width: 90%;
  }